.contacto {
	width:  80%;
	display: flex;
    /* que salte el renglon y no modifique el tamaño del contenedor */

    margin-left: 20% ;  /* que salte el renglon y no modifique el tamaño del contenedor */
    flex-wrap: row;

    img{
    	width: 100%;
        height: 100px;
    }

    a{
        display: block;
        width: 100%;
        padding: 8px 0;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }
}