

::before ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: skyblue;
  }
/* Titulo */
.titulo {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    box-shadow: 5px 8px 12px black;
    img{
        width: 100%;
        height: 100%;
    }
    p {
        font-size: 4rem;
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        
        
        @include tablet{
          font-size: 3rem;
          color: white;
          position: absolute;
          text-align: center;
        }
    }
  
}

/* FILTO  y NAV*/

.filtro{
    width: 100%;
    height: 180px;
    background-color: skyblue;
    overflow: visible;
    position: absolute;
    margin: 1px auto;
    color: aquamarine;

 

    input {
        position: relative;
        left: 37%;
        height: 20px;
    }

    label {
        color: black;
        position: relative;
        left: 37%;
        height: 20px;
    }
    p{
        font-size: 1rem;
        color: black;
        position: absolute;
        top: 43%;
        right:50%;
        transform: translate(50%, 50%);
    }
    h1{
        font-size: 2rem;
        color: black;
        position: absolute;
        top: 1%;
        left: 37%;
    }
    h2{
        font-size: 2rem;
        color: black;
        position: absolute;
        top: 100%;
        left: 7%;
    }
    h3 {
        font-size: 2rem;
        color: black;
        position: absolute;
        top: 20%;
        left: 26%;
    }
}
/* Propiedades */

/* PRODUCTOS con flex ============*/

.products-list{
	width:  100%;
	display: flex;
    /* que salte el renglon y no modifique el tamaño del contenedor */
	flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;

    .item{
        width: 24%;
        margin-left: 3%;
        margin-bottom: 25px;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

        display: flex;
        flex-direction:column;
        align-items: center;
        align-self: flex-start;

        transition: all .4s;
        img{
    	    width: 100%;
        }

        a{
            display: block;
            width: 100%;
            padding: 8px 0;
            background: #2D3E50;

            color: #fff;
            text-align: center;
            text-decoration: none;
        }
    }
}
h1 {
    text-align: center;
  }
  

/* Filtro  REVISAR*/
.grid #Norte:checked ~ .e #imagenes  .Oeste, .grid #Norte:checked ~ .e #imagenes .CABA {
    display: none;
  }
  
  
 #Oeste:checked ~ #imagenes .Norte, #Oeste:checked ~ #imagenes .CABA {
    display: none;
  }
  
  #CABA:checked ~ #imagenes .Oeste, #CABA:checked ~ #imagenes .Norte {
    display: none;
  }
  #Casa:checked ~ #imagenes .Departamento, #Casa:checked ~ #imagenes .PH {
    display: none;
  }
  
  #Oeste:checked ~ #imagenes .Norte, #Oeste:checked ~ #imagenes .CABA {
    display: none;
  }
  
  #CABA:checked ~ #imagenes .Oeste, #CABA:checked ~ #imagenes .Norte {
    display: none;
  }



  