

::before ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: skyblue;
  }
/* Titulo */
.titulo {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    box-shadow: 5px 8px 12px black;
    img{
        width: 100%;
        height: 100%;
    }
    p {
        font-size: 4rem;
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        
        
        @include tablet{
          font-size: 3rem;
          color: white;
          position: absolute;
          text-align: center;
        }
    }
  
}

