





/*//////////////////////////*/

  
  .carrusel-menu {
    display: none;
  }


  .dropdown-menu {
    a{ 
        img{
            width: 100%;
            height: 100%;
        }
    }
  }
.dropdown-item img{
    width: 100%;
    height: 500px;
  }
  
  

.contenedor { 
    display: block;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
    .filtro input {
        left: 37%;
        height: 20px;
    }
        
    .filtro label {
        color: black;
        position: relative;
        left: 37%;
        height: 20px;
    }
}
    
    
   @include tablet
    {
        .dropdown-item img{
        width: 9%;
        }
    }
  
  
    h5{
        text-align:center ;
      }
      



      .imgnormalizada img{
        width: 100%;

        height: 500px;
      }
      .carousel {
        margin-right: 20% ;
        margin-left: 11% ;

      }
