$color-Fondo: #87CEEB;
$color-Letra: #000000;
$colot-blanco: #FFFFFF;
$tam-letra: 2rem;

$columnaPC: 180px auto 180px;
$filaPC: auto auto auto;

$columnaCEL: 0% 100% 0%;
$filaCEL: auto auto auto auto;
$columnaPC-gap:100px;
$filaPC-gap: 20px;
