



body {
    background-color: skyblue;

}

.grid {
    display: grid;   
    grid-template-columns: 180px auto 180px;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 100px;
    grid-row-gap: 20px;
    background-color: skyblue;

    grid-template-areas: "head head head" "filtro filtro filtro" "borde main borde2" "foot foot foot";
  }

.grid .a{
    grid-area: head;

}
.grid .b{
    grid-area: filtro;
    background-color: skyblue;

}

.grid .d{
    grid-area: borde;
    background-color: skyblue;


}
.grid .e{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-content: space-around;

}
.grid .f{
    grid-area: borde2;
    background-color: skyblue;

}
.grid .g{
    grid-area: foot;
    background-color: skyblue;
}
.d img {
    width: 100%;
    margin: 10px;
}
.f img {
    width: 100%;
    margin: 10px;
}
.e img{
    width: 20%;
}
.grid .g p{
    font-size: 1rem;
    color: black;
    text-align: center;
    position: relative;
    margin: 10px;
}



.col {
    background-color: blue;
}



 @media (max-width: 945px)
 {
    .body{
        background-color: skyblue;
    }
    .grid {
        grid-template-columns:0% 100% 0%;
        grid-template-rows: auto auto auto auto;
        grid-column-gap: 100px;
        grid-row-gap: 20px;
        background-color: skyblue;

        grid-template-areas: "head head head" "filtro filtro filtro" "borde main borde2" "foot foot foot";
      }
    
    .grid .g p{
        font-size: 0.5rem;
        color: black;
        text-align: center;
        position: relative;
    }

    
 }