@charset "UTF-8";
/*////////Servicios//////*/
.recuadro, .vender, .alquilerT, .alquiler {
  position: relative;
  width: 100%;
  height: 70px;
  overflow: visible;
  margin: 0px auto;
  color: #87CEEB; }
  .recuadro h1, .vender h1, .alquilerT h1, .alquiler h1 {
    font-size: 2rem;
    color: #000000;
    position: absolute;
    top: 15px;
    left: 5%; }
  .recuadro p, .vender p, .alquilerT p, .alquiler p {
    font-size: 2rem;
    color: #87CEEB;
    position: absolute;
    left: 5%; }
  .recuadro p:hover, .vender p:hover, .alquilerT p:hover, .alquiler p:hover {
    color: #000000; }
  .recuadro a, .vender a, .alquilerT a, .alquiler a {
    font-size: 2rem;
    right: 5%;
    top: 6px;
    position: absolute; }
  .recuadro button, .vender button, .alquilerT button, .alquiler button {
    font-size: 1.4rem;
    color: #000000; }

.vender {
  background-color: #7b5add; }

/*///////////////////////////*/
.alquilerT {
  background-color: #eeff00; }

/*///////////////////////////////////*/
.alquiler {
  background-color: yellowgreen; }

/*//// TRANSITION //// */
.transition:hover {
  height: 250px; }

.boton {
  background-color: #FFFFFF;
  width: 100%; }

.boton:hover {
  cursor: pointer;
  background-image: radial-gradient(#00ff04 30%, #00ff04); }

/*////////FINAL Servicios//////*/
/*////PIE//////*/
.pie {
  width: 100%;
  height: 180px;
  background-color: #87CEEB;
  overflow: visible;
  position: relative;
  margin: 0px auto;
  color: aquamarine;
  bottom: 100%; }

.pie p {
  font-size: 1rem;
  color: black;
  position: absolute;
  top: 35%;
  right: 50%;
  transform: translate(50%, 50%); }

.pie h1 {
  font-size: 2rem;
  color: black;
  position: absolute;
  top: 25%;
  left: 45%; }

.pie h2 {
  font-size: 2rem;
  color: black;
  position: absolute;
  top: 90%;
  left: 7%; }

/*////FINAL PIE//////*/
/*////////GRIDS//////*/
body {
  background-color: #87CEEB; }

.grid {
  display: grid;
  grid-template-columns: 180px auto 180px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  background-color: #87CEEB;
  grid-template-areas: "head head head" "filtro filtro filtro" "borde main borde2" "foot foot foot"; }
  @media screen and (max-width: 945) {
    .grid {
      grid-template-columns: 0% 100% 0%;
      grid-template-rows: auto auto auto auto;
      grid-column-gap: 100px;
      grid-row-gap: 20px;
      background-color: #87CEEB;
      grid-template-areas: "head head head" "filtro filtro filtro" "borde main borde2" "foot foot foot"; }
      .grid .g p {
        font-size: 0.5rem;
        color: #000000;
        text-align: center;
        position: relative; } }
  .grid .a {
    grid-area: head; }
  .grid .b {
    grid-area: filtro; }
  .grid .d {
    grid-area: borde; }
    .grid .d img {
      width: 100%;
      margin: 10px; }
  .grid .e {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-content: space-around; }
    .grid .e img {
      width: 20%; }
  .grid .f {
    grid-area: borde2; }
    .grid .f img {
      width: 100%;
      margin: 10px; }
  .grid .g {
    grid-area: foot; }
    .grid .g p {
      font-size: 1rem;
      color: #000000;
      text-align: center;
      position: relative;
      margin: 10px; }

.col {
  background-color: blue; }

/*////////GRIDS//////*/
/*//////////////////////////*/
.carrusel {
  display: flex;
  width: 70%;
  left: 10%;
  align-content: center;
  gap: 10px;
  justify-content: center; }
  .carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1030px;
    /* max-width: 510px; */
    scroll-behavior: smooth; }

.carrusel-fotos {
  display: flex;
  gap: 10px;
  overflow: auto; }
  .carrusel-fotos img {
    background: black;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    object-fit: contain; }

.carrusel-menu {
  display: none; }

.dropdown-item img {
  width: 100%;
  height: 500px; }

.contenedor {
  display: block;
  margin: 30px 0px; }
  .contenedor .filtro input {
    left: 37%;
    height: 20px; }
  .contenedor .filtro label {
    color: black;
    position: relative;
    left: 37%;
    height: 20px; }

@media screen and (max-width: 945) {
  .dropdown-item img {
    width: 9%; } }

::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: skyblue; }

/* Titulo */
.titulo {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  box-shadow: 5px 8px 12px black; }
  .titulo img {
    width: 100%;
    height: 100%; }
  .titulo p {
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
    @media screen and (max-width: 945) {
      .titulo p {
        font-size: 3rem;
        color: white;
        position: absolute;
        text-align: center; } }

/* FILTO  y NAV*/
.filtro {
  width: 100%;
  height: 180px;
  background-color: skyblue;
  overflow: visible;
  position: absolute;
  margin: 1px auto;
  color: aquamarine; }
  .filtro input {
    position: relative;
    left: 37%;
    height: 20px; }
  .filtro label {
    color: black;
    position: relative;
    left: 37%;
    height: 20px; }
  .filtro p {
    font-size: 1rem;
    color: black;
    position: absolute;
    top: 43%;
    right: 50%;
    transform: translate(50%, 50%); }
  .filtro h1 {
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 1%;
    left: 37%; }
  .filtro h2 {
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 100%;
    left: 7%; }
  .filtro h3 {
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 20%;
    left: 26%; }

/* Propiedades */
/* PRODUCTOS con flex ============*/
.products-list {
  width: 100%;
  display: flex;
  /* que salte el renglon y no modifique el tamaño del contenedor */
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between; }
  .products-list .item {
    width: 24%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s; }
    .products-list .item img {
      width: 100%; }
    .products-list .item a {
      display: block;
      width: 100%;
      padding: 8px 0;
      background: #2D3E50;
      color: #fff;
      text-align: center;
      text-decoration: none; }

h1 {
  text-align: center; }

/* Filtro  REVISAR*/
.grid #Norte:checked ~ .e #imagenes .Oeste, .grid #Norte:checked ~ .e #imagenes .CABA {
  display: none; }

#Oeste:checked ~ #imagenes .Norte, #Oeste:checked ~ #imagenes .CABA {
  display: none; }

#CABA:checked ~ #imagenes .Oeste, #CABA:checked ~ #imagenes .Norte {
  display: none; }

#Casa:checked ~ #imagenes .Departamento, #Casa:checked ~ #imagenes .PH {
  display: none; }

#Oeste:checked ~ #imagenes .Norte, #Oeste:checked ~ #imagenes .CABA {
  display: none; }

#CABA:checked ~ #imagenes .Oeste, #CABA:checked ~ #imagenes .Norte {
  display: none; }
