.vender {
    width: 100%;
    height: 70px;
    background-color: rgb(123, 90, 221);
    overflow: visible;
    position: relative;
    margin: 0px auto;
    color: aquamarine;

}
.vender h1{
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 10px;
    left: 5%;  
}
.vender p {
    font-size: 2rem;
    color: skyblue;
    position: absolute;

    left: 5%;
}
.vender a {
    font-size: 2rem;
    right: 5%;
    top:   6px;
    position: absolute;
}
.vender button {
    font-size: 1.4rem;
    color: black;
}
/*///////////////////////////*/
.alquilerT {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: rgb(238, 255, 0);
    overflow: visible;
    
    margin: 0px auto;
    color: aquamarine;

}
.alquilerT h1{
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 15%;
    left: 5%;  
}
.alquilerT  p {
    font-size: 2rem;
    color: skyblue;
    position: absolute;

    left: 5%;
}
.alquilerT a {
    font-size: 2rem;
    right: 5%;
    top:   6px;
    position: absolute;
}
.alquilerT button {
    font-size: 1.4rem;
    color: black;
}
/*///////////////////////////////////*/
.alquiler {
    width: 100%;
    height: 70px;
    background-color: yellowgreen;
    overflow: visible;
    position: relative;
    margin: 0px auto;
    color: aquamarine;

}
.alquiler h1{
    font-size: 2rem;
    color: black;
    position: absolute;
    top: 15%;
    left: 5%;  
}
.alquiler p {
    font-size: 2rem;
    color: skyblue;
    position: absolute;

    left: 5%;
}
.alquiler a {
    font-size: 2rem;
    right: 5%;
    top:   6px;
    position: absolute;
}
.alquiler button {
    font-size: 1.4rem;
    color: black;
}

/*//// TRANSITION //// */

  .transition:hover {

    height: 250px;

  }
.vender:hover p{
    color: black;
}
.alquiler:hover p{
    color: black;
}
.alquilerT:hover p{
    color: black;
}
  /*///////*/
  
  .boton {
    background-color: white ;
    width: 100%;
  }
  .boton:hover {
    cursor: pointer;
    background-image: radial-gradient(
      rgb(0, 255, 4) 30%,
      rgb(0, 255, 4)
    );
  }


/*//////////////////////////*/

.mensaje {
    position: fixed;
    width: 80%;
    bottom: 40%;
    right: 10%;
}


  @keyframes heroAnimate {
    0% {
      background-image: url("./img/BeFunky-collage.jpg");
        height: 100%;
        width: 100%;
    }
 
    50% {
      background-image: url("./img/BeFunky-collage2\ \(2\).jpg");
      height: 100%;
      width: 100%;
    }

    100% {
        background-image: url("./img/BeFunky-collage.jpg");
        height: 100%;
        width: 100%;
    }
  }
  
  .hero {
    margin-top: 2em;
    width: 100%;
    height: 60vh;
    background-size: cover;
    animation-name: heroAnimate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }


  @media (max-width: 945px)
  {
    .alquiler {
        width: 100%;
        height: 70px;
        background-color: yellowgreen;
        overflow: visible;
        position: relative;
        margin: 0px auto;
        color: aquamarine;
    
    }
    .transition:hover {

        height: 350px;
    
      }
  }


