@charset "UTF-8";
/*////////Servicios//////*/
.recuadro, .vender, .alquilerT, .alquiler {
  position: relative;
  width: 60%;
  height: 70px;
  overflow: visible;
  margin: 0px auto;
  color: #87CEEB; }
  .recuadro h1, .vender h1, .alquilerT h1, .alquiler h1 {
    font-size: 2rem;
    color: #000000;
    position: absolute;
    top: 15px;
    left: 5%; }
  .recuadro p, .vender p, .alquilerT p, .alquiler p {
    font-size: 0rem;
    color: #000000;
    position: absolute;
    left: 5%; }
  .recuadro:hover p, .vender:hover p, .alquilerT:hover p, .alquiler:hover p{
    font-size: 2rem; }
  .recuadro a, .vender a, .alquilerT a, .alquiler a {
    font-size: 2rem;
    right: 5%;
    top: 6px;
    position: absolute; }
  .recuadro button, .vender button, .alquilerT button, .alquiler button {
    font-size: 1.4rem;
    color: #000000; }

.vender {
  background-color: #7b5add; }

/*///////////////////////////*/
.alquilerT {
  background-color: #eeff00; }

/*///////////////////////////////////*/
.alquiler {
  background-color: yellowgreen; }

/*//// TRANSITION //// */
.transition:hover {
  height: 400px;
 }
 @media screen and (max-width: 945) {
  
  .transition:hover {
    height: 500px;
  }
 }

.boton {
  background-color: #FFFFFF;
  width: 100%; }

.boton:hover {
  cursor: pointer;
  background-image: radial-gradient(#00ff04 30%, #00ff04); }

/*////////FINAL Servicios//////*/


.dropdown-menu a img{
  width: 100%;
  height: 100%;
}

/*////PIE//////*/
.pie {
  width: 100%;
  height: 80px;
  background-color: #87CEEB;
  overflow: visible;
  position: relative;
  margin: 0px auto;
  color: aquamarine;
  bottom: 100%; }

.pie p {
  font-size: 1rem;
  color: black;
  position: absolute;
  top: 35%;
  right: 50%;
  transform: translate(50%, 50%); }

.pie h1 {
  font-size: 2rem;
  color: black;
  position: absolute;
  top: 25%;
  left: 45%; }

.pie h2 {
  font-size: 2rem;
  color: black;
  position: absolute;
  top: 90%;
  left: 7%; }

/*////FINAL PIE//////*/
/*////////GRIDS//////*/

.grid {
  display: grid;
  grid-template-columns: 180px auto 180px;
  grid-template-rows: auto auto  1400px auto;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  background-color: #87CEEB;
  grid-template-areas: "head head head" "filtro filtro filtro" "main main main" "foot foot foot"; }

  @media screen and (max-width: 945) {
    .grid {
      grid-template-columns: 0% 100% 0%;
      grid-template-rows: auto auto auto auto;
      grid-column-gap: 100px;
      grid-row-gap: 20px;
      background-color: #87CEEB;
      
      grid-template-areas: "head head head" "filtro filtro filtro" "main main main" "foot foot foot"; }
      .grid .g p {
        font-size: 0.5rem;
        color: #000000;
        text-align: center;
        position: relative; } }

   .a {
    grid-area: head; }
   .b {
    grid-area: filtro; }


   .e {
    grid-area: main;
    
  	}
	.e img {
      width: 20%; 
    }
    .e h4{
      text-align: center;
      font-size: 3rem;
    }
    .g {
    grid-area: foot; }
    .g p {
      background-color: #87CEEB;

      font-size: 1rem;
      color: #000000;
      text-align: center;
      position: relative;
      margin: 10px; }


.col {
  background-color: blue; }

/*////////GRIDS//////*/
/*//////////////////////////*/



.carrusel-menu {
  display: none; }

.dropdown-item img {
  width: 100%;
  height: 500px; }

.contenedor {
  display: block;
  align-items: center;
  width: 100%;
  margin: 30px 0px; }
  .contenedor .filtro input {
    left: 37%;
    height: 20px; }
  .contenedor .filtro label {
    color: black;
    position: relative;
    left: 37%;
    height: 20px; }

@media screen and (max-width: 945) {
  .dropdown-item img {
    width: 9%; } }

::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: skyblue; }

/* Titulo */
.titulo {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  box-shadow: 5px 8px 12px black; }
  .titulo img {
    width: 100%;
    height: 100%; }
  .titulo p {
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
    @media screen and (max-width: 945) {
      .titulo p {
        font-size: 3rem;
        color: white;
        position: absolute;
        text-align: center; } }

h5{
  text-align:center ;
}
.contacto {
  width: 80%;
  display: flex;
margin-left: 20% ;  /* que salte el renglon y no modifique el tamaño del contenedor */
  flex-wrap: row;

 }

    .contacto img {
      width: 100%;
      height: 100px;
    }
    .contacto .item a {
      display: block;
      width: 100%;
      padding: 8px 0;
      background: #2D3E50;
      color: #fff;
      text-align: center;
      text-decoration: none; }

      .imgnormalizada img{
        width: 100%;

        height: 500px;
      }
      .carousel {
        margin-right: 20% ;
        margin-left: 11% ;

      }
